@charset "utf-8";

/*section{border-bottom:10px solid #eff1f7}*/
.hdmf .contents.main{margin-top:-60px;}
.hdmf .contents.main > div{border-bottom:10px solid #eff1f7}
.hdmf .contents.main > .edu_mov +.edu_mov {padding-top:25px;}
.hdmf .main_slider{min-height:200px; margin-top:-80px;border-bottom:1px solid #ecedf3!important} /***/
.hdmf .main_slider .swiper-button{position:absolute;left:0;bottom:18.6%;padding-left:9.72%;width:100%;z-index:100}
.hdmf .main_slider .swiper-pagination.swiper-pagination-fraction{position:static;float:left;padding:0 5px;width:auto;font-family:'robotoR';font-size:7px;color:#222}
.hdmf .main_slider .swiper-pagination-current{font-family:'robotoM';font-size:12px}
.hdmf .main_slider .swiper-pagination-total{font-size:12px}
.hdmf .main_slider .swiper-button-next,
.hdmf .main_slider .swiper-button-prev{margin-top:0;position:static;float:left;height:18px;opacity:1}
.hdmf .main_slider .swiper-button-next{background:url('../../images/ico/btn_m_next.png') no-repeat 50% 50%;background-size:21.5px auto}
.hdmf .main_slider .swiper-button-prev{background:url('../../images/ico/btn_m_prev.png') no-repeat 50% 50%;background-size:21.5px auto}


.hdmf .quick_more{padding:25px 20px}
.hdmf .quick_more .quick_menu ul:after{content:'';display:block;clear:both}
.hdmf .quick_more .quick_menu{margin-top:-25px;overflow:hidden; max-height:350px;}
.hdmf .quick_more .quick_menu_list li{width:25%;float:left;margin-top:25px;}
.hdmf .quick_more .quick_menu_list li a:before{content:'';display:block;position:absolute;left:50%;top:0;margin-left:-16px;width:30px;height:24px;background-image:url('../../images/ico/ico_quick_more.png');background-repeat:no-repeat;background-size:auto 24px}
.hdmf .quick_more .quick_menu_list li a.q1:before{background-position:0 0}
.hdmf .quick_more .quick_menu_list li a.q2:before{background-position:-30px 0}
.hdmf .quick_more .quick_menu_list li a.q3:before{background-position:-60px 0}
.hdmf .quick_more .quick_menu_list li a.q4:before{background-position:-90px 0}
.hdmf .quick_more .quick_menu_list li a.q5:before{background-position:-120px 0}
.hdmf .quick_more .quick_menu_list li a.q6:before{background-position:-150px 0}
.hdmf .quick_more .quick_menu_list li a.q7:before{background-position:-180px 0}
.hdmf .quick_more .quick_menu_list li a.q8:before{background-position:-210px 0}
.hdmf .quick_more .quick_menu_list li a.q9:before{background-position:-240px 0}
.hdmf .quick_more .quick_menu_list li a.q10:before{background-position:-270px 0}
.hdmf .quick_more .quick_menu_list li a.q11:before{background-position:-300px 0}
.hdmf .quick_more .quick_menu_list li a.q12:before{background-position:-330px 0}
.hdmf .quick_more .quick_menu_list li a.q13:before{background-position:-360px 0}
 /* 20200901 추가 퀵메뉴 아이콘 */
.hdmf .quick_more .quick_menu_list li a.q14:before{background-position:-390px 0}
 /* 20201222 추가 퀵메뉴 Hi심사톡 아이콘 */ 
.hdmf .quick_more .quick_menu_list li a.q15:before{background-position:-420px 0}
 /* 20210107 추가 퀵메뉴 q16증권발송, q17간편접수발송 아이콘 */ 
.hdmf .quick_more .quick_menu_list li a.q16:before{background-position:-450px 0}
.hdmf .quick_more .quick_menu_list li a.q17:before{background-position:-480px 0}
 /* 20220802 추가 퀵메뉴 q18보상진행현황 아이콘 */ 
.hdmf .quick_more .quick_menu_list li a.q18:before{background-position:-510px 0}

.hdmf .quick_more .quick_menu_list li a{position:relative;display:block;padding-top:30px;font-size:12px;color:#222;text-align:center; word-break:break-all;}
.hdmf .quick_more .btn_wrap{margin-top:25px}
.hdmf .quick_more .btn_more{padding:11px 0;border:1px solid #ccc;border-radius:9px}
.hdmf .quick_more .btn_more span{color:#333}
.hdmf .quick_more .btn_more span:after{background-image:url('../../images/ico/ico_more2.png')}
.hdmf .quick_more.active .btn_wrap{margin-top:0}
.hdmf .quick_more.active .btn_more span:after{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}

.hdmf .quick-all-menu .btn-menu{position:relative; float:right; width:150px; text-indent:0; text-align:right; font-size:13px; font-family:'notoDL'; color:#333; background:transparent;}
.hdmf .quick-all-menu:after{content:''; display:block; clear:both;}
.hdmf .quick-all-menu .btn-menu:after{content:''; display:inline-block; width:11px; height:9px; margin-left:7px; background:url('../../images/ico/ico_quick_menu.png') 50% 50% no-repeat; background-size:auto 9px;}


.hdmf .edu_mov ul:after{content:'';display:block;clear:both}
.hdmf .edu_mov ul{padding:0 20px 25px}
.hdmf .edu_mov li{padding-right:7px;width:50%;float:left; padding-top:25px;}
.hdmf .edu_mov li:nth-child(2n){padding-left:7px; padding-right:0; clear: right;}
.hdmf .edu_mov li:nth-child(1),
.hdmf .edu_mov li:nth-child(2){padding-top:0;}
.hdmf .edu_mov li:nth-child(2n+1){clear:left;}
.hdmf .edu_mov li a{display:block}
.hdmf .edu_mov .img{position:relative; width:153px; height:110px; overflow:hidden; border-radius:10px; margin:0 auto;}/*Mnew 수정*/
.hdmf .edu_mov .mov_img .img p{height:110px; margin:0 auto; overflow:hidden; text-align:center;}/*Mnew 수정*/
.hdmf .edu_mov .img img{width:100%; height:100%; border-radius:9px}
.hdmf .edu_mov .img span{position:absolute;bottom:10px}
.hdmf .edu_mov .play{left:10px;width:17px;height:21px;text-indent:-9999px;background:url('../../images/ico/ico_edu_play.png') no-repeat 0 0;background-size:17px auto}
.hdmf .edu_mov .time{right:10px;;width:45px;height:20px;text-align:center;font-family:'robotoR';color:#fff;background:rgba(0,0,0,0.7);border-radius:3px}
.hdmf .edu_mov .txt{margin-top:8px}
.hdmf .edu_mov .txt strong{margin-bottom:5px;font-weight:400;color:#e87b55}
.hdmf .edu_mov .txt p{display:-webkit-box;max-height:40px;color:#333;line-height:1.38; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-break:break-all;}
.hdmf .edu_mov.slider .swiper-container{padding:15px 20px}
.hdmf .edu_mov .flag{position:absolute;left:5px;top:5px;width:35px;height:35px;line-height:33px;text-align:center;font-family:'notoM';font-size:11px;color:#fff;font-style:italic;overflow:hidden; text-indent:-999px;border-radius:50%; background:url('../../images/ico/ico_flag.png') 50% 50% no-repeat; background-size:100% auto;}
.hdmf .edu_mov.slider .swiper-container + .btn_wrap,
.hdmf .etc_slider .swiper-container + .btn_wrap,
.hdmf .edu_mov ul + .btn_wrap{margin-top:0;}
.hdmf .edu_mov + .post_list{border-top:10px solid #eff1f7}

.hdmf .edu_mov.slider .swiper-slide{width:140px;}/*Mnew 수정*/
.hdmf .edu_mov.slider .mov_img .img{width:140px;}/*Mnew 수정*/
.hdmf .edu_mov.slider .mov_img .img p{width:140px;}/*Mnew 수정*/

.hdmf .edu_slider{padding:25px 0;}
.hdmf .edu_slider .swiper-container{padding:0 20px; overflow:inherit;}
.hdmf .edu_slider .swiper-slide{border-radius:15px; box-shadow:0 0 10px #e3e3e3; overflow:hidden;}
.hdmf .edu_slider .img img{width:100%;border-radius:18px 18px 0 0}
.hdmf .edu_slider .txt{padding:25px 20px;background-color:#fff;border-radius:0 0 18px 18px}
.hdmf .edu_slider .txt strong{display:inline-block;padding:1px 6px;font-weight:normal;font-size:13px;color:#e87b55;border:1px solid #f09939;border-radius:5px}
.hdmf .edu_slider .txt p{height:38px; margin-top:10px;font-size:14px;color:#333;line-height:1.28}
.hdmf .edu_slider .share_btn{margin-top:10px}
.hdmf .edu_slider .share_btn [class^='btn_']{font-family:'robotoR';font-size:12px;color:#999}
.hdmf .edu_slider .share_btn [class^='btn_'] span{display:inline-block;text-indent:-9999px}
.hdmf .edu_slider .share_btn [class^='btn_']+[class^='btn_']{margin-left:10px}
.hdmf .edu_slider .btn_play{padding-left:13px;background:url('../../images/ico/ico_play.png') no-repeat 0 center;background-size:8px auto}
.hdmf .edu_slider .btn_share{padding-left:17px;background:url('../../images/ico/ico_share.png') no-repeat 0 center;background-size:13px auto}

/*.hdmf .etc_slider{padding:25px 0}*/
.hdmf .etc_slider .swiper-container{padding:25px 20px}
.hdmf .etc_slider a{display:block}
.hdmf .etc_slider img{height:100%;border-radius:22px}
.hdmf .etc_slider span{display:block;margin-top:10px;text-align:center}
/*.hdmf .etc_slider .btn_more{margin-top:25px; padding-bottom:0;}*/
.hdmf .etc_slider .btn_more span{display:inline-block; margin-top:0;}


.hdmf .etc_slider .swiper-slide{width:88px;}
.hdmf .etc_slider p{width:88px; height:88px; overflow:hidden;}

.hdmf body.fixed{padding-top:0}
.hdmf .mn_scroll.fixed{margin-top:40px}
.hdmf .mn_scroll.fixed .tab_inr{position:fixed;top:0;left:0;width:100%;z-index:10;border-bottom:1px solid #ddd;background-color:#fff}
/*.hdmf .tab_cont.active{padding-top:40px}*/
.hdmf .mn_scroll .tab_ty2{margin:0.5px;border-bottom:10px solid #eff1f7}
.hdmf .mn_scroll > .tab_cont{border-bottom:10px solid #eff1f7}
.hdmf .tab_cont_wp{border-top:10px solid #eff1f7}
.hdmf .tab_cont_wp .tits01{padding:0 20px;}
.hdmf .tab_cont_wp .tab_cont > div{padding-bottom:25px;}
/*.hdmf .tab_cont_wp .tab_cont .edu_mov{border-top:10px solid #eff1f7}*/
.hdmf .tab_cont_wp > .tab_cont{border-top:10px solid #eff1f7}
.hdmf .tab_cont_wp .tab_cont:first-child{border-top:0}
.hdmf .tab_cont_wp .tab_cont .edu_mov:first-child{border-top:0;}
.hdmf .tab_cont_wp .tab_cont .tab_cont > div:last-child{padding-bottom:0}
/*.hdmf .tab_cont_wp > .tab_cont > .tab_wrap{border-top:10px solid #eff1f7}*/
.hdmf .tab_cont_wp .btn_wrap{padding:0 20px; text-align:center;}
.hdmf .tab_cont_wp .btn_more{border:1px #ecedf3 solid; border-radius:10px;}
.hdmf .tab_cont_wp .btn_more.new{display:inline-block; width:auto; padding:13px 25px; border-radius:25px; border:1px #ecedf3 solid;}
.hdmf .tab_cont.bgp{;position:relative; background:#fef7f1;}
.hdmf .tab_cont.bgp [class*="tab_ty"] a{color:#333; background:#fff;}
.hdmf .tab_cont.bgp [class*="tab_ty"] a.active{color:#fff; background:#f18d00;}
.hdmf .tab_cont.bgp .edu_mov{padding:20px 0 30px !important; background:#fff;}
/*.hdmf .tab_cont.bgp .edu_mov:after{content:''; position:absolute; left:0; bottom:0; display:block; width:100%; height:140px; background:#fff;}*/
.hdmf .tab_cont_wp .tab_cont.bgp .tab_wrap{padding-bottom:0;}


.hdmf .goods-view .bg{padding:30px 0; background:#f7f9ba url('../../images/bg/bg_goods_slide.png') 100% 0 no-repeat; background-size:auto 100%;}
.hdmf .goods-view .bg .tits01{margin:0 0 15px 20px; padding:0 }
.hdmf .goods-view .swiper-container{}
.hdmf .goods-view .swiper-slide a{display:block;height:145px; padding:25px 85px 25px 25px; border-radius:10px; box-shadow:0 0 10px #e3e3e3; background:#fff url('../../images/ico/ico_goods_arrow.png') right 25px bottom 25px no-repeat; background-size:27px auto; box-sizing:border-box; margin-top:0px; font-size:16px; color:#333; word-break:break-all;}
.hdmf .goods-view .swiper-slide span{display:block; font-size:12px; color:#f18d00;}
.hdmf .goods-view .swiper-slide strong{ font-weight:normal;}
.hdmf .goods-view .swiper-slide p{margin-top:7px; font-size:13px; color:#777;}
.hdmf .goods-list{padding:0 20px;}
.hdmf .goods-list li{border-top:1px #eff0f1 solid}
.hdmf .goods-list li:first-child{border:0;}
.hdmf .goods-list a{position:relative; display:block; padding:20px 25px 20px 58px; font-size:15px; color:#333; line-height:18px;}
.hdmf .goods-list a:before{content:''; position:absolute; left:0; top:50%; display:inline-block; width:44px; height:44px; margin-top:-22px; border:1px #e7e7e7 solid; border-radius:50%; background-size:31px auto; background-position:50% 50%; background-repeat:no-repeat;}
.hdmf .goods-list a.ico01:before{background-image:url('../../images/ico/ico_goods01.png');}
.hdmf .goods-list a.ico02:before{background-image:url('../../images/ico/ico_goods02.png');}
.hdmf .goods-list a.ico03:before{background-image:url('../../images/ico/ico_goods03.png');}
.hdmf .goods-list a.ico04:before{background-image:url('../../images/ico/ico_goods04.png');}
.hdmf .goods-list a.ico05:before{background-image:url('../../images/ico/ico_goods05.png');}
.hdmf .goods-list a.ico06:before{background-image:url('../../images/ico/ico_goods06.png');}
.hdmf .goods-list a .info{margin-top:5px; font-size:13px; color:#888; font-family:'notoDM';}
.hdmf .goods-list a .info span + span:before{content:''; display:inline-block; width:1px; height:7px; margin:0 7px 0 4px; vertical-align:middle; background:#bfbfbf;}

.hdmf .goods-list + .btn_wrap{margin-top:0;}

/* 내시상금 메인화면 추가 20221206 // 시작 */ 
.hdmf .sisangmtit a{position: relative;display: inline-block;padding-right: 17px;word-break: break-all;}
.hdmf .sisangmtit a.ico_next:after{content:'';display:inline-block;position:absolute;right:0;top:5px;width:9px;height:13px;background-image:url('../../images/ico/ico_theshow.png');background-repeat:no-repeat;background-size:auto 13px}
.hdmf .nesisanggeum .twinbox{padding: 0 20px 25px;display: table;width: 100%;}
.hdmf .nesisanggeum .twinbox .twinbox_left{display: table-cell;width: 50%;padding-right: 7px;}
.hdmf .nesisanggeum .twinbox .twinbox_left .twinbox_dl,.hdmf .nesisanggeum .twinbox .twinbox_right .twinbox_dl {border-radius: 9px;padding: 15px 10px 10px;background-color: #F5F5F5;}
.hdmf .nesisanggeum .twinbox .twinbox_right{display: table-cell;    width: 50%;	padding-left: 7px;}
.hdmf .nesisanggeum .twinbox .twinbox_left .twinbox_dl .twinboxdl_lefttit{font-weight: bold;font-size: 14px;color: #333;clear: both;}
.hdmf .nesisanggeum .twinbox .twinbox_left .twinbox_dl .twinboxdl_lefttit .twinboxdl_lefttitsub{border: 1px solid #ea7404;border-radius: 50px;font-weight: bold;font-size: 11px;color: #ea7404;padding: 0 7px;margin-left: 5px;background-color: #fff;float: right;line-height: 20px;}
.hdmf .nesisanggeum .twinbox .twinbox_right .twinbox_dl .twinboxdl_righttit{font-weight: bold;font-size: 14px;background: url('../../images/ico/ico_sisangsumtrophy.png') no-repeat;background-position: right 0px top 50%;background-size: 45px auto;color: #333;}
.hdmf .nesisanggeum .twinbox .twinbox_left .twinbox_dl .twinsmallbox_lit,.hdmf .nesisanggeum .twinbox .twinbox_right .twinbox_dl .twinsmallbox_lit {display: table;width: 100%;margin: 5px 0;height: 35px;}
.hdmf .nesisanggeum .twinbox .twinbox_left .twinbox_dl .twinsmallbox_lib,.hdmf .nesisanggeum .twinbox .twinbox_right .twinbox_dl .twinsmallbox_lib {display: table;width: 100%;margin: 5px 0;}
.hdmf .nesisanggeum .twinbox .twinsmallbox_lit span, .hdmf .nesisanggeum .twinbox .twinsmallbox_lib span{display: table-cell;vertical-align: bottom;}
.hdmf .nesisanggeum .twinbox .twinsmallbox_lit span ~ span, .hdmf .nesisanggeum .twinbox .twinsmallbox_lib span ~ span{text-align: right;}
.hdmf .nesisanggeum .twinbox .twinsmallbox_lit span strong, .hdmf .nesisanggeum .twinbox .twinsmallbox_lib span strong{font-size: 16px;  color: #333;}