@charset "utf-8";

/* ----------------------------------------
 ------------------------------------------
 font
 ------------------------------------------
 ---------------------------------------- */
@font-face{
    font-family:'notoB';
    font-style:normal;
    font-weight:700;
    src:url(../../font/NotoSansKR-Bold-Hestia.eot);
    src:local("☺"),
        url(../../font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
        url(../../font/NotoSansKR-Bold-Hestia.woff) format('woff');
}

@font-face{
    font-family:robotoB;
    font-style:normal;
    font-weight:700;
    src:url('../../font/Roboto-Bold-webfont.eot');
    src:local(☺),
        url(../../font/Roboto-Bold-webfont.eot?#iefix) format('embedded-opentype'),
        url(../../font/Roboto-Bold-webfont.woff) format('woff');
}

/* ----------------------------------------
 ------------------------------------------
 content
 ------------------------------------------
 ---------------------------------------- */
 .hdmf .contents.main{margin-top:-50px;padding-bottom:45px}
 .hdmf .contents.main > div {border:none;position:relative;}
 
 
 
 
/* main_slider */
.hdmf .main_slider{border-bottom:0 !important}
.hdmf .main_slider .swiper-button{position:absolute;left:0;top:66.11vw;bottom:auto;padding:0;/*bottom:18.6%; padding-left:9.72%; */width:100%;text-align:center;z-index:100}
.hdmf .main_slider .swiper-button .swiper-pagination{display:inline-block;position:relative;font-size:0;vertical-align:top}
.hdmf .main_slider .swiper-button .swiper-pagination-bullet{display:inline-block;width:1.667vw;height:1.667vw;margin:0 0.834vw;vertical-align:top;background-color:#cbcbcb;opacity:1}
.hdmf .main_slider .swiper-button .swiper-pagination-bullet-active{width:5.556vw;border-radius:1vw;background-color:#363636}

/* quick_more */
.hdmf .quick_more{margin-top:-20px;padding:30px 20px 40px;border:none;border-radius:20px;box-shadow:0 12px 22px rgba(71,71,71,0.15);background-color:#fff;z-index:1}
.hdmf .quick_more .quick_menu{margin-top:-15px;height:201px;max-height:100%}
.hdmf .quick_more .quick_menu_list li {width:25%;margin-top:15px;}
.hdmf .quick_more .quick_menu_list li a{padding:68px 0 0 0;font-size:13px;color:#555;letter-spacing:-.6px}
.hdmf .quick_more .quick_menu_list li a:before{width:61px;height:61px;margin-left:-30px;background-position:50% 50%;background-repeat:no-repeat;background-size:61px auto;}
.hdmf .quick_more .quick_menu_list li a.m1:before{background-image:url(../../images/renew/ico/ico_menu_01.png)}
.hdmf .quick_more .quick_menu_list li a.m2:before{background-image:url(../../images/renew/ico/ico_menu_02.png)}
.hdmf .quick_more .quick_menu_list li a.m3:before{background-image:url(../../images/renew/ico/ico_menu_03.png)}
.hdmf .quick_more .quick_menu_list li a.m4:before{background-image:url(../../images/renew/ico/ico_menu_04.png)}
.hdmf .quick_more .quick_menu_list li a.m5:before{background-image:url(../../images/renew/ico/ico_menu_05.png)}
.hdmf .quick_more .quick_menu_list li a.m6:before{background-image:url(../../images/renew/ico/ico_menu_06.png)}
.hdmf .quick_more .quick_menu_list li a.m7:before{background-image:url(../../images/renew/ico/ico_menu_07.png)}
.hdmf .quick_more .quick_menu_list li a.m8:before{background-image:url(../../images/renew/ico/ico_menu_08.png)}
.hdmf .quick_more .quick_menu_list li a.m9:before{background-image:url(../../images/renew/ico/ico_menu_09.png)}
.hdmf .quick_more .quick_menu_list li a.m10:before{background-image:url(../../images/renew/ico/ico_menu_10.png)}
.hdmf .quick_more .quick_menu_list li a.m11:before{background-image:url(../../images/renew/ico/ico_menu_11.png)}
.hdmf .quick_more .quick_menu_list li a.m12:before{background-image:url(../../images/renew/ico/ico_menu_12.png)}
.hdmf .quick_more .quick_menu_list li a.m13:before{background-image:url(../../images/renew/ico/ico_menu_13.png)}
.hdmf .quick_more .quick_menu_list li a.m14:before{background-image:url(../../images/renew/ico/ico_menu_14.png)}
.hdmf .quick_more .quick_menu_list li a.m15:before{background-image:url(../../images/renew/ico/ico_menu_15.png)}
.hdmf .quick_more .quick_menu_list li a.m16:before{background-image:url(../../images/renew/ico/ico_menu_16.png)}
.hdmf .quick_more .quick_menu_list li a.m17:before{background-image:url(../../images/renew/ico/ico_menu_17.png)}
.hdmf .quick_more .quick_menu_list li a.m18:before{background-image:url(../../images/renew/ico/ico_menu_18.png)}
.hdmf .quick_more .quick_menu_list li.menu_more a:before{background-image:url(../../images/renew/ico/ico_menu_more.png)}
.hdmf .quick_more .quick_menu_list li .btn_more span{color:#333}
.hdmf .quick_more .quick_menu_list li .new {content:'';position:absolute;top:0;left:50%;margin-left:15px;width:18px;height:18px;border-radius:50%;color:#fff;font-size:11px;line-height:18px;font-family:'robotoB';background-color:#008cd3;z-index:1}

/* quick_more */
.hdmf .quick_more .btn_wrap{margin-top:0;position:absolute;bottom:0;left:0;right:0;}
.hdmf .quick_more .btn_wrap .btn_more{padding:10px 0;border:0;line-height:8px}
.hdmf .quick_more .btn_wrap .btn_more span{font-size:0;vertical-align:top}
.hdmf .quick_more .btn_wrap .btn_more span:after{width:13px;height:8px;background-image:url('../../images/renew/ico/ico_more.png');background-size:13px auto;}
.hdmf .quick_more.active .btn_wrap{margin-top:0}
.hdmf .quick_more.active .btn_more span:after{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.hdmf .quick_more .quick_menu_list li.menu_more .btn_more{border:0}
.hdmf .quick_more .quick_menu_list li.menu_more .btn_more .tit{padding-right:0}
.hdmf .quick_more .quick_menu_list li.menu_more .btn_more .tit:after{display:none}
.hdmf .quick_more.active .quick_menu_list li.menu_more{display:none}

/* main_banner */
.hdmf .main_banner{padding:30px 0 0}
.hdmf .main_banner a{display:block;text-align:center}
.hdmf .main_banner + .tit_area, .hdmf .main_banner + .nesisanggeum{margin-bottom:10px}
.hdmf .main_banner + .tit_area, .hdmf .main_banner + .nesisanggeum .tits01 a{font-family: notoB;font-size: 17px;color: #363636;}
.hdmf .main_banner + .tit_area, .hdmf .main_banner + .nesisanggeum .tits01, .hdmf .main_banner + .nesisanggeum + .tit_area{margin-top:0 !important}

/* tit_area */
.hdmf .tit_area{margin:35px 0 0;padding:0 20px;}
.hdmf .tit_area .tits01{margin-top:0;font-family:notoB;font-size:17px;color:#363636}
.hdmf .tit_area .btn_more{position:absolute;top:2px;right:20px;width:auto;padding:0;border:0;font-size:13px;font-family:notoM;color:#777}
.hdmf .tit_area .btn_more.arrow:after{display:inline-block;content:'';width:6px;height:12px;margin:-1px 0 0 6px;vertical-align:middle;background-image:url('../../images/renew/ico/ico_more_arrow.png');background-size:6px auto;}

/* slider */
.hdmf .edu_mov.slider .swiper-container{padding:10px 20px 20px;}
.hdmf .edu_mov .img{margin:0}
.hdmf .edu_mov .txt{margin-top:12px}
.hdmf .edu_mov .txt p{font-size:14px;color:#333;line-height:1.5}

.hdmf .paging_num{position:absolute;top:-22px;right:20px;font-size:13px;color:#777}
.hdmf .paging_num .paging{margin-left:5px;font-size:14px;color:#ccc}
.hdmf .paging_num .paging span{color:#777;font-weight:400}
.hdmf .paging_num .paging .swiper-pagination-current{color:#363636;font-family:notoB;}

.slider .swiper-scrollbar{margin:0 20px;height:5px;background-color:#f5f5f5}
.slider .swiper-scrollbar .swiper-scrollbar-drag{background:#ddd}




