@charset 'utf-8';


/* ======================================================
    ======================================================
    
	box-type-gray 
	
    ======================================================
    ====================================================== */
.renew .box-type-gray{margin-top:15px;padding:15px 0;background-color:#f9f9f9}
.renew .box-type-gray.full{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}
.renew .box-type-gray.full > input:first-child, .renew .box-type-gray.full .message_text:first-child{margin-top:0 !important}
.renew .box-type-gray select, .renew .box-type-gray input[type="date"]{background-color:#fff}
.renew .box-type-gray *:first-child{margin-top:0}
.renew .box-type-gray .form-list dd:first-of-child{margin-top:0}





/* ======================================================
    ======================================================
    
	card box
	
    ======================================================
    ====================================================== */
.renew .card_box_wrap{margin-top:15px;padding:15px 20px;border:1px solid #ccc;border-radius:10px;background-color:#fff}
.renew .card_box_wrap + .card_box_wrap{margin-top:10px;}
.renew .card_box_wrap + .card_box_wrap.ty02{margin-top:40px}
.renew .tits01 + .card_box_wrap{margin-top:15px}
.renew .dot_list + .card_box_wrap{margin-top:30px}
.renew .card_box_wrap .card_box_header{position:relative;}
.renew .card_box_wrap .card_box_header .title{margin-top:5px;font-size:16px;font-family:notoM;color:#000;font-weight:500}
.renew .card_box_wrap .card_box_header .sub{margin-top:10px;font-size:13px;font-family:robotoM;}
.renew .card_box_wrap .card_box_header .check-tab-ty01{float:right;margin-top:-5px;}
.renew .card_box_wrap .card_box_header .check-tab-ty01 > div{margin:0}
.renew .card_box_wrap .card_box_header .check-tab-ty01 > div input{top:0;left:0;width:100%;height:100%}
.renew .card_box_wrap .card_box_header .left .check-tab-ty01{float:left;margin:-2px 10px 0 0;}
.renew .card_box_wrap .card_box_header .left .check-tab-ty01 input{width:auto}
.renew .card_box_wrap .card_box_header + .card_box_info{margin-top:25px;}
.renew .card_box_wrap .card_box_header.ty02{padding-bottom:15px;border-bottom:1px solid #eee;}
.renew .card_box_wrap .card_box_header.ty02 + .card_box_info{margin-top:10px;}
.renew .card_box_wrap .card_box_header.ty02 .title{display:block;font-size:15px;color:#333;word-break: break-all;}
.renew .card_box_wrap .card_box_info{overflow:hidden;font-family:notoR;color:#333;font-size:14px}
.renew .card_box_wrap .card_box_info dl{display:flex;flex-direction: row;flex-flow: wrap;align-items: center;}
.renew .card_box_wrap .card_box_info dt, .renew .card_box_wrap .card_box_info dd{min-height:22px;}
.renew .card_box_wrap .card_box_info dt{margin:8px 0 auto;min-width:39.93%;max-width:50%;font-size:13px;color:#777}
.renew .card_box_wrap .card_box_info dd{min-width:50%;max-width:60.07%;flex:1;margin:6px 0;font-size:14px;color:#000;word-break: break-all;}
.renew .card_box_wrap .card_box_info dd .line{white-space: nowrap;}
.renew .card_box_wrap.align_right .card_box_info dd{text-align:right}
.renew .card_box_wrap > .card_box_info, .renew .card_box_wrap a > .card_box_info{margin:-6px 0;}
.renew .card_box_wrap.bg_gray{border-color:#f9f9f9;background-color:#f9f9f9}
.renew .card_box_wrap.text_bold dd{font-size:14px;color:#333;font-family:notoM}
.renew .card_box_wrap.guide_box{margin-top:20px;padding:20px;border:0;background-color:#f9f9f9}
.renew .card_box_wrap.guide_box .guide_title{font-size:14px;color:#555;font-weight:400}
.renew .card_box_wrap.guide_box .guide_title.ico:before{content:'';display:inline-block;width:16px;height:14px;margin-right:7px;vertical-align:middle;background:url(../../../images/renew/ico/ico_alarm.png) no-repeat 50% 50%;background-size:16px auto;}
.renew .card_box_wrap.guide_box li{font-size:14px;color:#000}

.renew .card_box_wrap .info_bar{marign-top:10px}
.renew .card_box_wrap .info_bar span{font-family:notoM;font-size:14px;}
.renew .card_box_wrap .info_bar span:not(:last-child):after{content:'|';margin:0 6px 0 10px;}
.renew .card_box_wrap .info_code, .renew .card_box_wrap .info_grade{color:#f18d00}

/* card box - ty02 */
.renew .card_box_wrap.ty02 {position:relative;display:block;padding:15px 20px;}
.renew .card_box_wrap.ty02.active {border-color:#f18d00;}

.renew .acco_wrap .card_box_wrap.ty02 {margin-left:-20px;margin-right:-20px;}

.renew .card_box_wrap.ty02 .title {display:block;color:#333;font-size:15px;font-weight:500;font-family:notoM;}
.renew .card_box_wrap.ty02 .title > a{font-size:inherit;font-family:inherit;color:inherit;word-break: break-word;}
.renew .card_box_wrap.ty02 .money {display:block;margin-top:5px;color:#003070;font-size:15px;font-weight:500;font-family:notoM;text-align:right;}
.renew .card_box_wrap.ty02 .date {color:#777;font-size:13px;font-family:robotoR;}
.renew .card_box_wrap.ty02 .btn-del-trash {position:absolute;top:5px;right:7px;width:44px;height:44px;z-index:2}
.renew .card_box_wrap.ty02 .btn_edit{position:absolute;top:5px;right:56px;height:44px;z-index:2}

.renew .card_box_wrap.ty02 .card_box_header {margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #eee;min-height:37px}
.renew .card_box_wrap .card_box_header .state {display:flex;justify-content:space-between;color:#000;font-size:14px;word-break: break-all;}
.renew .card_box_wrap .card_box_header .state + .title {margin-top:10px;}
.renew .card_box_wrap .card_box_header .state .num {color:#777;font-size:14px;font-family:'robotoR';}
.renew .card_box_wrap .card_box_header .state .left {padding-right:20px;}
.renew .card_box_wrap .card_box_header .state .left .num:before{content:'';display:inline-block;width:1px;height:12px;margin:5px 7px 0 4px;background-color:#ddd;vertical-align:top}
.renew .card_box_wrap .card_box_header .state .left .code{color:#777;font-size:13px;}
.renew .card_box_wrap .card_box_header .state .left [class^="flag0"] + .code{margin-left:6px}
.renew .card_box_wrap .card_box_header .state .left [class^="check-tab-ty0"]{margin:0}
.renew .card_box_wrap .card_box_header .state .left [class^="check-tab-ty0"] > div{margin:0 20px 0 0;}
.renew .card_box_wrap .card_box_header .state .right .arrow{font-size:14px;padding-right:17px;color:#333}
.renew .card_box_wrap .card_box_header .state .right .arrow:after{right:0}

.renew .card_box_wrap.ty02 .card_box_header .single {position:absolute;top:4px;left:0;}
.renew .card_box_wrap.ty02 .card_box_header .info {padding:15px 13px 0 35px;}
.renew .card_box_wrap.ty02 .card_box_header .info .tit {color:#333;font-size:14px;}
.renew .card_box_wrap.ty02 .card_box_header .info .txt_item {color:#333;font-size:14px;}
.renew .card_box_wrap.ty02 .card_box_header .info .txt_item > span {margin-right:5px;vertical-align:top;line-height:23px;}
.renew .card_box_wrap.ty02 .card_box_header .info .txt_item > span:before {left:-4px;}
.renew .card_box_wrap.ty02 .card_box_header .info .txt_item .num {color:#777;font-size:14px;letter-spacing:-1px;}
.renew .card_box_wrap.ty02 .card_box_header .info .txt_item .num:after {content:'';position:absolute;top:5px;bottom:4px;right:-4px;border-right:1px solid #ddd;}
.renew .card_box_wrap.ty02 .card_box_header .info .txt_item .name {/* min-width:52px; */max-width:52px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.renew .card_box_wrap.ty02 .card_box_header .posi-re {margin-top:-5px;}

.renew .card_box_wrap.ty02 .card_box_info {margin:0;overflow:auto;}
.renew .card_box_wrap.ty02 .card_box_info .txt_item {margin-bottom:5px;}

.renew .card_box_wrap.ty02 .arrow {position:relative;display:block;padding-right:40px;}
.renew .card_box_wrap.ty02 .arrow:after {content:'';position:absolute;top:50%;right:0;width:7px;height:13px;border:none;background:url('../../../images/renew/ico/ico_arrow_b.png') no-repeat center center;background-size:7px 13px;transform:translateY(-50%);}

.renew .card_box_wrap.ty02 .card_box_header .single + .state {padding-left:37px;}

.renew .card_box_wrap.ty02 .btn_search {position:absolute;top:7px;right:15px;}
.renew .card_box_wrap.ty02 + .card_box_wrap {margin-top:10px;}

.renew .card_box_wrap.ty02 > .single:last-child input[type=radio] {position:absolute;top:0;left:0;width:100%;height:100%;}

.renew .card_box_wrap.ty02 dd.img {min-width:100%;height:100px;background-color:#f5f5f5;}
.renew .card_box_wrap.ty02 dd.img img {display:inline-block;width:100%;height:100%;}

.renew .card_box_wrap.ty02 .txt_item.sm > *:not(:first-child):before {border-color:#777;}

/* card box - ty03 */
.renew .card_box_wrap.ty03{margin-top:30px;padding:0;}
.renew .card_box_wrap.ty03 .card_box_header{padding:20px;background-color:#f5f5f5;border-radius:10px 10px 0 0;}
.renew .card_box_wrap.ty03 .card_box_header .title{font-size:15px}
.renew .card_box_wrap.ty03 .card_box_info{padding:25px 20px;margin:0}
.renew .card_box_wrap.ty03 .card_box_info .sm_txt{display:block;margin:8px 0 16px;font-size:13px;color:#777}

/* card box - 버튼 */
.renew .card_box_wrap .btn_group {display:flex;justify-content:space-between;flex-wrap:nowrap;margin:20px -20px -15px;}
.renew .card_box_wrap .btn_group [class^=btns] {height:50px;border-top:1px solid #ddd;border-radius:0 0 10px 10px;color:#ff8e00;font-family:notoM;background-color:#fff;}
.renew .card_box_wrap .btn_group [class^=btns]:nth-of-type(2):last-child {border-left:1px solid #ddd;border-radius:0 0 10px 0;}

.renew .card_box_wrap .btn_group .btns.plus {border-top:0;background-color:#f5f5f5;}
.renew .card_box_wrap .btn_group .btns.plus > span {position:relative;padding-left:20px;color:#f18d00;font-size:14px;}
.renew .card_box_wrap .btn_group .btns.plus > span:before,
.renew .card_box_wrap .btn_group .btns.plus > span:after {content:'';position:absolute;top:50%;left:0;width:12px;height:2px;background-color:#f18d00;transform:translateY(-50%);}
.renew .card_box_wrap .btn_group .btns.plus > span:after {transform:translateY(-50%) rotate(90deg);}

.renew .card_box_wrap.bottom_line {margin:0 -20px;padding:15px 20px 20px !important;border-width:0 0 1px;border-radius:0;}
.renew .card_box_wrap.bottom_line .card_box_header .title {font-size:15px;}
.renew .card_box_wrap.bottom_line .card_box_info {margin-top:10px;}
.renew .tits03 + .card_box_wrap.bottom_line .card_box_info{margin:-6px 0 0}

.renew .card_box_wrap.bg_gray + .card_box_wrap.bottom_line,
.renew .card_box_wrap_cont > .card_box_wrap.bottom_line:first-child {margin-top:30px;border-top:1px solid #aaa;}

.renew .card_box_area {margin-top:40px;}



/* ======================================================
    ======================================================
    
	card_box_wrap + acco
	
    ======================================================
    ====================================================== */
/* card box - 아코디언 */
.renew .card_box_wrap.ty02.has_acco {padding:0;}
.renew .card_box_wrap.ty02.has_acco.focus {border-color: #f18d00;}
.renew .card_box_wrap.ty02.has_acco .item + .item {margin-top:10px;}
.renew .card_box_wrap.ty02.has_acco .card_box_header {margin:0;padding:0 20px 15px 20px;}
.renew .card_box_wrap.ty02.has_acco .card_box_header .single {top:28px;left:20px;}
.renew .card_box_wrap.ty02.has_acco .card_box_header .acco_btn {position:absolute;top:50%;right:0;width:100%;height:100%;padding:0;transform:translateY(-50%);}
.renew .card_box_wrap.ty02.has_acco .card_box_header .acco_btn:after {content:""; position:absolute;top:32px;right:23px;width:6px;height:6px;border:2px solid #333;border-width:0 0 2px 2px; transform:rotate(-45deg);transition:all 0.35s;}
.renew .card_box_wrap.ty02.has_acco .item .card_box_header {border-radius:10px;}
.renew .card_box_wrap.ty02.has_acco .item.on .card_box_header {border-radius:0;}
.renew .card_box_wrap.ty02.has_acco .item.on .card_box_header .acco_btn:after {border-color:#f18d00;transform:rotate(135deg);}

.renew .card_box_wrap.ty02.has_acco .acco_body {position:relative;display:none;padding-bottom:15px;border-top:1px solid #eee;}
.renew .card_box_wrap.ty02.has_acco .acco_body .card_box_info {padding:15px 20px 0 20px;}
.renew .card_box_wrap.ty02.has_acco .acco_body .btn_group {margin:20px 0 -15px;}

/* card box - info 아코디언 */
.renew .card_box_wrap.ty02.has_acco.info .card_box_header {padding:15px 20px 10px 20px;border:none;}
.renew .card_box_wrap.ty02.has_acco.info .card_box_header .card_box_info dl dt:nth-of-type(1), 
.renew .card_box_wrap.ty02.has_acco.info .card_box_header .card_box_info dl dd:nth-of-type(1) {margin-top:0;}

.renew .card_box_wrap.ty02.has_acco.info .acco_btn {top:25px;right:15px;width:22px;height:22px;}
.renew .card_box_wrap.ty02.has_acco.info .acco_btn:after {top:6px;left:7px;right:auto;}

.renew .card_box_wrap.ty02.has_acco.info .acco_body {border:none;}
.renew .card_box_wrap.ty02.has_acco.info .acco_body .card_box_info {padding-top:0;}
.renew .card_box_wrap.ty02.has_acco.info .acco_body .card_box_info dl dt:nth-of-type(1),
.renew .card_box_wrap.ty02.has_acco.info .acco_body .card_box_info dl dd:nth-of-type(1):not(.img) {margin-top:0;}



.renew .scrollInner .card_box_wrap.ty02{}
.renew .scrollInner .card_box_wrap.ty02.active{border-color:#ccc}
.renew .scrollInner .card_box_wrap.ty02.focus{border-color:#f18d00}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header{padding:0;}
.renew .scrollInner .card_box_wrap.ty02.has_acco .card_box_header .single{margin:0;top:0;left:0;right:0;bottom:0;width:100%;}
.renew .scrollInner .card_box_wrap.ty02.has_acco .card_box_header .single label{position:absolute;top:36px;left:10px}
.renew .scrollInner .card_box_wrap.ty02.has_acco .card_box_header .single input[type="radio"]{width:calc(100% - 40px);height:100%;z-index:2}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .info{padding:15px 40px 15px 45px;}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .info .txt_item > span{font-size:14px;margin-right:14px;}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .info .txt_item > span.num{margin-right:12px;}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .info .txt_item > span.num:after{right:-9px;top:7px}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .info .txt_item > span:before{left:-8px}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .info .txt_item > span:last-child{margin-right:0;}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .txt_info > div{display:inline-block;vertical-align:top;font-size:14px;color:#333}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .txt_info .txt{max-width:132px;padding-right:10px;}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .txt_info .price{position:relative;padding-left:12px}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .txt_info .price:before{content: '';position: absolute;left: 0;top: 6px;bottom: 5px;border-right: 1px solid #ddd;}

.renew .scrollInner .card_box_wrap.ty02 .card_box_header .acco_pop{position:absolute;top:50%;right:0;width:40px;height:100%;transform:translateY(-50%);z-index:2}
.renew .scrollInner .card_box_wrap.ty02 .card_box_header .acco_pop:after{content:""; position:absolute;top:50%;right:50%;margin:-3px -3px 0 0;width:6px;height:6px;border:2px solid #333;border-width:0 0 2px 2px; transform:rotate(-45deg);transition:all 0.35s;}
.renew .scrollInner .card_box_wrap.ty02 .scan_ok{color:#008cd3 !important}



/* ======================================================
    ======================================================
    
	card_box_wrap + block
	
    ======================================================
    ====================================================== */
/* block - 기본 */
.renew .block_wrap .head_area {padding:15px;border-top:1px solid #aaa;border-bottom:1px solid #e7e7e7;color:#333;font-size:14px;font-family:notoM;background-color:#f5f5f5;text-align:center;}
.renew .block_wrap .inner {position:relative;display:block;padding:20px 10px;border-bottom:1px solid #ddd;text-align:left;width:100%}
.renew .block_wrap .block {display:block;}
.renew .block_wrap .tit {display:block;color:#333;font-size:15px;font-family:notoR;line-height:normal;word-break: break-all;}


/* block - 유형1 */
.renew .block_wrap.list .block {padding-right:60px;}
.renew .block_wrap.list a.inner .block:after,
.renew .block_wrap.list button.inner .block:after {content:'';top:50%;position:absolute;right:10px;width:7px;height:13px;background:url('../../../images/renew/ico/ico_arrow_b.png') no-repeat center center; background-size:7px 13px;transform:translateY(-50%);}
.renew .block_wrap.list .block [class^=flag] {margin:0 8px 8px 0;}

/* block - 유형2 */
.renew .block_wrap.plan .inner {padding:20px 60px 20px 20px;}
.renew .block_wrap.plan .block .tit {font-size:14px;}
.renew .block_wrap.plan .block .tit + .txt_item {margin-top:15px;}
.renew .block_wrap.plan .inner .btn_search.ico {position:absolute;top:13px;right:13px;}
.renew .block_wrap.plan .inner .btn_search.ico:before {background-color:#fff;}
.renew .acco_body .block_wrap.plan {margin:-30px -20px !important;border:0;}
.renew .acco_body .block_wrap.plan .inner:last-child {border-bottom:0;}

