@charset 'utf-8';


/* ======================================================
    ======================================================
    
	table : TOP INFO
	
    ======================================================
    ====================================================== */
.renew .tbl_info {display:flex;justify-content:space-between;width:100%;margin:42px 0 15px;align-items:center;}
.renew .tbl_info:first-child {margin-top:0;}
.renew .tbl_info .fr {float:none;flex-grow:0;font-size:13px;text-align:right;}
.renew .tbl_info .fr:only-child {width:100%;}
.renew .tbl_info + .search-box {margin-top:10px;}
.renew .tbl_info + [class^=table] {margin-top:12px !important;}
.renew .sub_inr .tbl_info [class^=tits]:first-child {margin:0;}
.renew .tbl_info.ver02{margin:20px 0 -30px;}/* 설셰명세조회 목록에서만 사용 */

    
    
    
    
/* ======================================================
    ======================================================
    
	table
	
    ======================================================
    ====================================================== */
.renew .ver02[class^=table-]{margin-top:20px;border-top:1px solid #aaa}
.renew .tits01 + .ver02[class^=table-],
.renew [class^=table-] + [class^=table-] {margin-top:20px;}
.renew .ver02[class^=table-] th{font-size:14px;color:#000;background-color:#f5f5f5;font-weight:400}
.renew .ver02[class^=table-] thead th{padding:14px 5px;}
.renew .ver02[class^=table-] tbody th, .renew .ver02[class^=table-] td{padding:15px 10px;font-size:14px;color:#333;}
.renew .ver02[class^=table-] td > div.check-tab-ty02.ver02 > div{margin:5px 30px 5px 0;}
.renew .ver02[class^=table-] td > div.check-tab-ty02.ver02:last-child{margin:-5px 0}
.renew .ver02[class^=table-] td > div.check-tab-ty02.ver02:first-child:last-child {margin:0;}

.renew .table-col.ver02{position:relative}
.renew .table-col.ver02:after{display:block;content:'';width:3px;background-color:#fff;position:absolute;top:-1px;right:-1px;bottom:-1px;}
.renew .table-col.ver02 thead th, .renew .table-col.ver02 tbody th, .renew .table-col.ver02 tbody td{border-right:1px solid #ddd;}
.renew .table-col.ver02 tbody th {padding:15px 10px; text-align:left;}
.renew .table-col.ver02 tr{border-color:#ddd}
.renew .table-col.ver02 tr:last-child{border-bottom:1px solid #ccc}
.renew .table-col.ver02 .align_top, .renew .table-row.ver02 .align_top{vertical-align:top}
.renew .table-col.ver02 .bg_gray, .renew .table-row.ver02 .bg_gray{background-color:#f5f5f5}
.renew .table-col.ver02 .bg_none, .renew .table-row.ver02 .bg_none{background-color:transparent}
.renew .table-col.ver02, .renew.table-row.ver02{margin-top:30px}
.renew .table-row.ver02 .custom_slt , .renew .table-col.ver02 .custom_slt{margin:-5px 0;}
.renew .table-row td .country-radio-list {margin:0;}
.renew .table-col.list:after{display:none}
.renew .table-col.list thead th:last-child, .renew .table-col.list tbody td:last-child{border-right:0}

.renew .table_data tbody tr:hover, .renew .table_data tbody tr:hover th,
.renew .table_data tbody tr.on, .renew .table_data tbody tr.on th{background-color:#fff5ec}
.renew .table-col tbody td:first-child .check-tab-ty01 input+label, 
.renew .table-row thead th:first-child .check-tab-ty01 input+label{position:relative;height:25px}
.renew .table-col.table_data tr.hover th,
.renew .table-col.table_data tr.hover td {background-color:#fff5ec;}

.renew .table-col.no_line {border-top:1px solid #aaa;}
.renew .table-col.no_line th {background-color:#f5f5f5;}
.renew .table-col.no_line th, .renew .table-col.no_line th, .renew .table-col.no_line th, .renew .table-col.no_line td {font-size:14px;} 
.renew .table-col.no_line thead th, .renew .table-col.ver02.no_line tbody th, .renew .table-col.ver02.no_line tbody td{border-right:0;}
.renew .table-col.no_line thead th:last-child, .renew .table-col.ver02.no_line tbody td:last-child{border-right:0}
.renew .table-col.tl tbody td, .renew .table-col.tl tbody th {text-align:left;}

.renew [class^=table-] tbody .pos_top {text-align:center;vertical-align:top;}
.renew [class^=table-] tbody .pos_top > * {display:inline-block;}
.renew [class^=table-] tbody .pos_top div {margin:0;}
.renew [class^=table-].noto_f15 td{font-size:15px;font-family:notoR;color:#000}


/* table : scroll */
.renew .table_scroll{position:relative;max-height:212px;overflow-y:overlay;}


/* 테이블 footer */
.renew .table-col.ver02 tfoot th,
.renew .table-col.ver02 tfoot td {border-top:1px solid #aaa;}
.renew .table-col.ver02 tfoot td {border-right:1px solid #ddd; background-color:#fff5ec;}
.renew .table-col.ver02 tfoot td:last-child {border-right:0;}

/* 공통 테이블 강조 컬러 */
.renew .table-row td.tb_bg,
.renew .table-col td.tb_bg,
.renew .table-row.tb_bg tr td,
.renew .table-col.tb_bg tr td {background-color:#fff5ec;}


/* table 안에 간격설정 */
.renew .ver02[class^=table-] th > .tool_wrap:first-child{margin-top:0}
.renew .ver02[class^=table-] td > .inp_bar, 
.renew .ver02[class^=table-] td > .input_text,
.renew .ver02[class^=table-] td > .search-box,
.renew .ver02[class^=table-] td .inner_textArea, 
.renew .ver02[class^=table-] td .rightbtn-box,  
.renew .ver02[class^=table-] td .file_box,
.renew .ver02[class^=table-] .form-select,
.renew .ver02[class^=table-] td > input[type="date"]{margin:-5px 0;}
.renew .ver02[class^=table-] td .rightbtn-box input{margin:0}
.renew .ver02[class^=table-] td .btn_more_right{margin:-2px 0}
.renew .ver02[class^=table-] .inp_bar + .inp_bar, 
.renew .ver02[class^=table-] .inp_bar + .rightbtn-box, 
.renew .ver02[class^=table-] .rightbtn-box + .inp_bar,
.renew .ver02[class^=table-] .btn_wrap{margin-top:15px}
.renew .ver02[class^=table-] .inp_bar + .inp_bar .input_reset, 
.renew .ver02[class^=table-] .inp_bar + .rightbtn-box .input_reset, 
.renew .ver02[class^=table-] .rightbtn-box + .inp_bar .input_reset{top:1px}
.renew .ver02[class^=table-] td .rightbtn-box + .set_addr{margin-bottom:-5px}

.renew .ver02 table td .set_inner .rightbtn-box {margin-bottom:0;}
.renew .ver02 table td .set_inner .set_addr .inp_bar {margin-top:10px;}
.renew .ver02 table td .form-select + .inp_bar {margin-top:10px;}
.renew .ver02 table td .form-select + .form-select {margin:15px 0 0;}



/* ======================================================
    ======================================================
    
	tbl_group : 리스트 
	
    ======================================================
    ====================================================== */
.renew .tbl_group {margin-top:20px; border-bottom:1px solid #ddd;}
.renew .tbl_group .top_group_head,
.renew .tbl_group .group_head {display:flex;}
.renew .tbl_group .top_group_head .head_th,
.renew .tbl_group .group_head .head_th {flex:1 1; padding:13px 10px; text-align:center;}
.renew .tbl_group .top_group_head {border:1px solid #ddd; border-width:1px 0;z-index:2}
.renew .tbl_group .top_group_head .head_th {background-color:#f5f5f5;}
.renew .tbl_group .top_group_head .head_th strong {color:#000; font-size:15px;}
.renew .tbl_group .top_group_head .head_th button{margin-top:-3px}
.renew .tbl_group .top_group_head .head_th button strong {color:#f18d00; font-size:15px}
.renew .tbl_group .top_group_head .head_th button strong:after {content:""; display:inline-block; width:0; height:0; margin-left:6px; border-right:8px solid #f18d00; border-top:6px solid transparent; border-bottom:6px solid transparent; -webkit-transform:rotate(-90deg); vertical-align:middle;}
.renew .tbl_group .top_group_head + .group_head {border-top:0;}


.renew .tbl_group .group_head {border:1px solid #ddd; border-width:1px 0;}
.renew .tbl_group .group_head .head_th {background-color:#f9f9f9;}
.renew .tbl_group .group_head strong {color:#333; font-size:14px;font-weight:400}

.renew .tbl_group .group_cont {position:relative;}
.renew .tbl_group .group_cont:before {content:""; position:absolute; top:-10px; bottom:-10px; left:50%; width:1px; background-color:#ddd;}
.renew .tbl_group .group_cont .cont_cell {display:flex; align-items:center; margin:10px 0;}
.renew .tbl_group .group_cont .cont_cell .cont_td {flex:1 1; padding:0 10px; color:#333; font-size:15px;max-width:50%;word-break: break-all;}
.renew .tbl_group .group_cont .cont_cell .cont_td .tit{word-break: break-word;}
.renew .tbl_group .group_cont .cont_cell .cont_td .inp_bar:first-of-type {margin-top:0;}
.renew .tbl_group .group_cont .cont_cell .cont_td .form-select:first-child, .renew .tbl_group .group_cont .cont_cell .cont_td .blind + .form-select {margin-top:0;}




/* ======================================================
    ======================================================
    
	tbl  : toggle 형태 
	
    ======================================================
    ====================================================== */
.renew .tbl_list_group [class^="table-"] + [class^="table-"]{margin-top:-1px;border-top:1px solid #ddd}





/* ======================================================
    ======================================================
    
	tbl  : toggle 형태 
	
    ======================================================
    ====================================================== */
/* 펼치기 버튼 */
.renew .more_wrap{margin-top:20px}
.renew #wrap .more_wrap.card .btn_wrap {margin-top:-17px;}
.renew #wrap .more_wrap .btn_wrap {text-align:center;}
.renew .more_wrap .btn_open {position:relative; height:45px; min-width:70px; padding:0 30px; line-height:45px; border:1px solid #ccc; border-radius:50px; font-size:15px; color:#222; background-color:#fff;}
.renew .more_wrap .btn_open:before {content:""; display:inline-block; width:6px; height:6px; margin-right:4px; border:2px solid #222; border-width:0 0 2px 2px; -webkit-transform:rotate(-45deg) translate(0, -50%); transition:all 0.35s; vertical-align:middle;}
.renew .more_wrap .btn_open button {display:inline-block;}
.renew .more_wrap [class^='table-'] {overflow:hidden;}
.renew .more_wrap.on [class^='table-'] {height:auto !important;}
.renew .more_wrap.on .btn_open:before {margin:-4px 10px 0 0; -webkit-transform:rotate(135deg) translate(0, -50%);}
.renew .more_wrap.on .card_box_info {height:auto !important;}

.renew .more_wrap.tbl .btn_open {min-width:116px;}
.renew .more_wrap.card .card_box_wrap {padding-bottom:25px;}
.renew .more_wrap.card .btn_open {padding:0; height:34px; line-height:32px;}
.renew .more_wrap.card .btn_open:before {margin-right:-4px;}
.renew .more_wrap.card.on .btn_open:before {margin-right:4px}

.renew .more_wrap > .card_box_wrap{margin-top:0}
