@charset "utf-8";

@font-face {
  font-family: "NotoSansKR Regular";
  font-display: auto;
  src: url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-300.woff2")
      format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-300.woff")
      format("woff"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-300.eot")
      format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR Medium";
  font-display: auto;
  src: url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-regular.woff2")
      format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-regular.woff")
      format("woff"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-regular.eot")
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR Bold";
  font-display: auto;
  src: url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-700.woff2")
      format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-700.woff")
      format("woff"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-700.eot")
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* motion.css */
/*------------------------
Motion CSS
The library of CSS3 animation

create by Petr Pavlyuk  - http://pavlyukpetr.com

Copyright (c) 2015-2016 Petr Pavlyuk
------------------------*/
#animation {
  visibility: hidden;
}
.animation {
  visibility: visible !important;
  animation-fill-mode: both !important;
  -webkit-animation-fill-mode: both !important;
}
.replay {
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}
.delay-03s {
  -webkit-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}
.delay-05s {
  -webkit-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}
.delay-08s {
  -webkit-animation-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}
.delay-1s {
  -webkit-animation-delay: 1s !important;
  animation-delay: 1s !important;
}
.delay-1-5s {
  -webkit-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}
.delay-1-8s {
  -webkit-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}
.delay-2s {
  -webkit-animation-delay: 2s !important;
  animation-delay: 2s !important;
}
.delay-2-5s {
  -webkit-animation-delay: 2.5s !important;
  animation-delay: 2.5s !important;
}
.delay-3s {
  -webkit-animation-delay: 3s !important;
  animation-delay: 3s !important;
}
.delay-3-5s {
  -webkit-animation-delay: 3.5s !important;
  animation-delay: 3.5s !important;
}
.delay-4s {
  -webkit-animation-delay: 4s !important;
  animation-delay: 4s !important;
}

/*fade-in*/
.fade-in {
  -webkit-animation: fade-in 1.2s;
  animation: fade-in 1.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*fade-out*/
.fade-out {
  -webkit-animation: fade-out 1s;
  animation: fade-out 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*fade-in right*/
.fade-in-right {
  -webkit-animation: fade-in-right 1s;
  animation: fade-in-right 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-100%);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);

    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(-100%);

    opacity: 0;
  }
  100% {
    transform: translateX(0%);

    opacity: 1;
  }
}
/*fade-in left*/
.fade-in-left {
  -webkit-animation: fade-in-left 1s;
  animation: fade-in-left 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(100%);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);

    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    transform: translateX(100%);

    opacity: 0;
  }
  100% {
    transform: translateX(0%);

    opacity: 1;
  }
}
/*fade-in up*/
.fade-in-up {
  -webkit-animation: fade-in-up 1s;
  animation: fade-in-up 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(30%);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);

    opacity: 1;
  }
}
@keyframes fade-in-up {
  0% {
    transform: translateY(30%);

    opacity: 0;
  }
  100% {
    transform: translateY(0%);

    opacity: 1;
  }
}
/*fade-in down*/
.fade-in-down {
  -webkit-animation: fade-in-down 1s;
  animation: fade-in-down 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-100%);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);

    opacity: 1;
  }
}
@keyframes fade-in-down {
  0% {
    transform: translateY(-100%);

    opacity: 0;
  }
  100% {
    transform: translateY(0%);

    opacity: 1;
  }
}

/*fade-out right*/
.fade-out-right {
  -webkit-animation: fade-out-right 1s;
  animation: fade-out-right 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0%);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);

    opacity: 0;
  }
}
@keyframes fade-out-right {
  0% {
    transform: translateX(0%);

    opacity: 1;
  }
  100% {
    transform: translateX(100%);

    opacity: 0;
  }
}
/*fade-out left*/
.fade-out-left {
  -webkit-animation: fade-out-left 1s;
  animation: fade-out-left 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0%);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);

    opacity: 0;
  }
}
@keyframes fade-out-left {
  0% {
    transform: translateX(0%);

    opacity: 1;
  }
  100% {
    transform: translateX(-100%);

    opacity: 0;
  }
}
/*fade-out up*/
.fade-out-up {
  -webkit-animation: fade-out-up 1s;
  animation: fade-out-up 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-up {
  0% {
    -webkit-transform: translateY(0%);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);

    opacity: 0;
  }
}
@keyframes fade-out-up {
  0% {
    transform: translateY(0%);

    opacity: 1;
  }
  100% {
    transform: translateY(-100%);

    opacity: 0;
  }
}
/*fade-out down*/
.fade-out-down {
  -webkit-animation: fade-out-down 1s;
  animation: fade-out-down 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-down {
  0% {
    -webkit-transform: translateY(0%);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);

    opacity: 0;
  }
}
@keyframes fade-out-down {
  0% {
    transform: translateY(0%);

    opacity: 1;
  }
  100% {
    transform: translateY(100%);

    opacity: 0;
  }
}
/* //motion.css */

/* 메인*/
div.main .animationArea {
  background-color: #fff;
}
div.main .bg {
  background-color: #eef3fc;
}

div.animationArea .animation {
  opacity: 0;
}

div.section01 {
  position: relative;
  background: #4f5f6f url("../../assets/images/pass/mainBg.png") center bottom
    no-repeat;
  box-sizing: border-box;
}
div.section01 div.txt {
  margin: 0;
  padding: 0;
  text-align: center;
  text-align: center;
  color: #fff;
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-weight: 700;
}
div.section01 div.txt span {
  display: block;
  background-position: center top;
  background-repeat: no-repeat;
}
div.section01 div.txt span:last-child {
  color: rgba(255, 255, 255, 0);
}
div.main div.section01 {
  background-color: #4f5f6f;
}

div.scrollDown {
  z-index: 40;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
div.scrollDown a {
  display: block;
  font-size: 0;
  line-height: 0;
  animation-duration: 2s;
  animation-name: flicker;
  animation-iteration-count: infinite;
}
@keyframes flicker {
  0% {
    opacity: 0.6;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-100%);
  }
}

/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.section01 {
    height: 400px;
    padding-top: 100px;
    background-size: auto 400px;
  }
  div.section01 div.txt {
    font-size: 3rem;
    line-height: 40px;
  }
  div.section01 div.txt span:last-child {
    width: 100%;
    margin-top: 15px;
    height: 42px;
    background-image: url("../../assets/images/pass/main_logo_m.png");
    background-size: auto 42px;
  }

  div.scrollDown {
    bottom: 10px;
    width: 25px;
  }
  div.scrollDown a {
    height: 10px;
  }
  div.scrollDown img {
    display: block;
    height: 10px;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div#container.main {
    padding-bottom: 0;
  }

  div.section01 {
    height: 970px;
    padding-top: 110px;
  }
  div.section01 div.txt {
    font-size: 7rem;
    line-height: 80px;
  }
  div.section01 div.txt span:last-child {
    margin-top: 25px;
    height: 96px;
    background-image: url("../../assets/images/pass/main-logo.png");
  }

  div.scrollDown {
    bottom: 20px;
    width: 70px;
  }
  div.scrollDown a {
    height: 29px;
    background-image: url("../../assets/images/pass/scroll-down.png");
  }
  div.scrollDown img {
    display: none;
  }
}

div.section02 {
}
div.section02 > div {
  text-align: center;
  color: #212121;
  font-family: "Pretendard", "NotoSansKR Medium", "Noto Sans KR", sans-serif;
  font-weight: 400;
}
div.section02 > div span {
  display: block;
  color: #ff3a4a;
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-weight: 700;
}

div.passCon {
  position: relative;
  text-align: center;
}
div.passCon div.tit {
  color: #ff3a4a;
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-weight: 700;
}
div.passCon div.tit2 {
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #212121;
  padding-bottom: 15px;
  line-height: 25px;
}
div.passCon div.txt {
  color: #666666;
  font-family: "Pretendard", "NotoSansKR Medium", "Noto Sans KR", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}
div.passCon div.txt2 {
  color: #666666;
  font-family: "Pretendard", "NotoSansKR Medium", "Noto Sans KR", sans-serif;
  font-size: 2.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 40px;
  font-weight: 400;
}
div.passCon div.txt span {
  display: block;
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-weight: 700;
}

/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.section02 > div {
    padding: 18px 0;
    font-size: 1.6rem;
    line-height: 25px;
  }

  div.passCon {
    padding: 30px 0;
  }
  div.passCon div.tit {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.7rem;
    line-height: 25px;
  }
  div.passCon div.tit2 {
    font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: #212121;
    padding-bottom: 0px;
    line-height: 25px;
  }
  div.passCon div.txt {
    color: #666666;
    font-family: "Pretendard", "NotoSansKR Medium", "Noto Sans KR", sans-serif;
    font-size: 1.3rem;
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-weight: 400;
  }
  div.passCon div.txt2 {
    display: none;
  }
  div.passCon div.txt span {
    font-size: 1.7rem;
    line-height: 25px;
  }

  div.passCon div.auth img {
    display: none;
    height: 60px;
    margin: 0 auto;
  }

  div.passCon div.exampleImg img {
    display: block;
    width: 315px;
    margin: -20px auto 0;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div.section02 > div {
    padding: 60px 0;
    font-size: 4.3rem;
    line-height: 65px;
  }

  div.passCon {
    display: table-cell;
    width: 2000px;
    height: 800px;
    vertical-align: middle;
  }
  div.passCon div.tit,
  div.passCon div.txt {
    display: inline-block;
    width: 1020px;
    box-sizing: border-box;
  }

  div.passCon div.tit {
    padding-bottom: 20px;
    font-size: 4.5rem;
    line-height: 50px;
  }
  div.passCon div.txt {
    color: #666666;
    font-family: "Pretendard", "NotoSansKR Medium", "Noto Sans KR", sans-serif;
    font-size: 2.5rem;
    line-height: 40px;
    font-weight: 400;
  }
  div.passCon div.txt span {
    font-size: 4rem;
    line-height: 45px;
  }
  div.passCon div.txt2 span {
    font-size: 4rem;
    line-height: 45px;
  }
  div.passCon div.exampleImg {
    position: absolute;
    left: 50%;
    top: -30px;
    padding: 0 !important;
  }

  div.passCon.left > div {
    padding-left: 426px;
  }
  div.passCon.left div.exampleImg {
    margin-left: -625px;
  }

  div.passCon.right > div {
    padding-right: 426px;
  }
}

div.section05 {
}

/* 인증서 스텝 */
div.changeImg:before,
div.changeImg:after {
  display: block;
  content: "";
  opacity: 0;
  transition: opacity 1s;
  background-position: center top;
  background-repeat: no-repeat;
}

/* div.changeImg.fade-in-up:before {opacity: 1;transition-delay:3s;background-image: url('../../assets/images/pass/example_03_2.png');} */
/* div.changeImg.fade-in-up:after {opacity: 1;transition-delay:4s;background-image: url('../../assets/images/pass/example_03_3.png');} */
/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.changeImg {
    position: relative;
  }

  div.changeImg:before,
  div.changeImg:after,
  div.changeImg img {
    display: block;
    height: 428px;
    margin: -20px auto 0;
  }

  div.changeImg.fade-in-up:before,
  div.changeImg.fade-in-up:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: auto 428px;
    margin-top: 0;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div.changeImg {
    display: block;
    width: 631px;
    height: 860px;
  }

  div.changeImg:before,
  div.changeImg:after,
  div.changeImg img {
    position: absolute;
    right: 60px;
    top: 0;
  }

  div.changeImg:before,
  div.changeImg:after {
    z-index: 10;
    width: 632px;
    height: 860px;
  }
}

div.section06 {
}
/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.section06 .exampleImg img.qrcode {
    position: absolute;
    left: 50%;
    bottom: 165px;
    width: 90px;
    margin-left: 100px;
    opacity: 0;
    transition: opacity 1s, margin-left 2s;
    transition-delay: 2.5s;
  }
  div.section06 .exampleImg.fade-in-up img.qrcode {
    opacity: 1;
    margin-left: -45px;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div.section06 {
  }
  div.section06 .exampleImg img.qrcode {
    position: absolute;
    left: 600px;
    bottom: 320px;
    opacity: 0;
    transition: opacity 1s, left 1s;
    transition-delay: 2s;
  }
  div.section06 .exampleImg.fade-in-up img.qrcode {
    opacity: 1;
    left: 202px;
  }
}

div.section07 {
}
/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.section07 .exampleImg img.qrcode {
    position: absolute;
    left: 50%;
    bottom: 165px;
    width: 90px;
    margin-left: 100px;
    opacity: 0;
    transition: opacity 1s, margin-left 2s;
    transition-delay: 2.5s;
  }
  div.section07 .exampleImg.fade-in-up img.qrcode {
    opacity: 1;
    margin-left: -45px;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div.section07 {
  }
  div.section07 .exampleImg img.qrcode {
    position: absolute;
    left: 600px;
    bottom: 320px;
    opacity: 0;
    transition: opacity 1s, left 1s;
    transition-delay: 2s;
  }
  div.section07 .exampleImg.fade-in-up img.qrcode {
    opacity: 1;
    left: 202px;
  }
}

/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  /* div.section08 div.exampleImg img {width: 150px;margin: 10px auto 0;} */
  div.section08 .exampleImg img.qrcode {
    position: absolute;
    left: 50%;
    bottom: 165px;
    width: 90px;
    margin-left: 100px;
    opacity: 0;
    transition: opacity 1s, margin-left 2s;
    transition-delay: 2.5s;
  }
  div.section08 .exampleImg.fade-in-up img.qrcode {
    opacity: 1;
    margin-left: -45px;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  /* div.section08 div.exampleImg {top: 35px !important;width: 500px;margin-left: 0;} */
  /* div.section08 div.exampleImg img {display: block;margin-top: 10px;} */
  div.section08 .exampleImg img.qrcode {
    position: absolute;
    left: 600px;
    bottom: 320px;
    opacity: 0;
    transition: opacity 1s, left 1s;
    transition-delay: 2s;
  }
  div.section08 .exampleImg.fade-in-up img.qrcode {
    opacity: 1;
    left: 202px;
  }
}

/* 서브 레이아웃 */

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div#container {
    padding-bottom: 100px;
  }
}

/* ====== Footer ====== */
div#downloadWrap {
  background-color: #eef3fc;
}
div#downloadWrap .animationArea {
  background-color: #eef3fc;
}

/* 앱다운로드 정보 */
div#goDown p {
  margin: 0;
  padding: 80px 0 0 0;
  list-style: none;
  text-decoration: none;
}
div#goDown {
  text-align: center;
}
div#goDown p {
  color: #212121;
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-weight: 700;
}
div#goDown p span {
  display: block;
  color: #999;
  font-family: "Pretendard", "NotoSansKR Regular", "Noto Sans KR", sans-serif;
  font-weight: 300;
}

/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div#downloadWrap {
    padding: 40px 0 25px;
  }

  div#goDown p {
    font-size: 1.6rem;
    line-height: 20px;
  }
  div#goDown p span {
    padding-top: 5px;
    font-size: 1.2rem;
    line-height: 16px;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div#downloadWrap {
    padding: 50px 0;
  }

  div#goDown {
    padding-top: 40px;
  }
  div#goDown p {
    font-size: 4.5rem;
    line-height: 50px;
  }
  div#goDown p span {
    padding-top: 20px;
    font-size: 2.2rem;
    line-height: 24px;
  }
}

div.download,
div.download ul,
div.download li,
div.download a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
div.download .tit {
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
div.download li {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(204, 207, 223, 0.5);
  background-color: #fff;
}
div.download a {
  display: block;
  font-size: 0;
  line-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.download {
    margin-top: 20px;
  }
  div.download .tit {
    height: 98px;
    background-image: url("../../assets/images/pass/footer_pass_m.png");
    background-size: 77px;
  }
  div.download li {
    margin: 0 6px;
  }
  div.download a {
    width: 120px;
    height: 42px;
    background-image: url("../../assets/images/pass/appStore_m.png");
    background-size: auto 42px;
  }
  div.download li:first-child a {
    background-image: url("../../assets/images/pass/googlePlay_m.png");
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div.download {
    margin-top: 55px;
  }
  div.download .tit {
    height: 290px;
    background-image: url("../../assets/images/pass/footer_pass.png");
  }
  div.download li {
    margin: 0 15px;
  }
  div.download a {
    width: 316px;
    height: 112px;
    background-image: url("../../assets/images/pass/appStore.png");
  }
  div.download li:first-child a {
    background-image: url("../../assets/images/pass/googlePlay.png");
  }
}

div.contact,
div.contact a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
div.contact {
  position: relative;
  margin: 98px 0 150px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-sizing: border-box;
}
div.contact,
div.contact a {
  color: #212121;
  font-family: "Pretendard", "NotoSansKR Bold", "Noto Sans KR", sans-serif;
  font-weight: 700;
}
div.contact .tit {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 400;
}
div.contact span {
  display: block;
  color: #999;
  font-family: "Pretendard", "NotoSansKR Regular", "Noto Sans KR", sans-serif;
  font-weight: 300;
}

/*  Mobile : ~ width:950px  */
@media (max-width: 950px) {
  div.contact {
    width: 300px;
    padding: 10px 0 10px 120px;
    text-align: center;
  }
  div.contact:before {
    position: absolute;
    left: 120px;
    top: 10px;
    width: 1px;
    height: calc(100% - 20px);
    content: "";
    background-color: #ababab;
  }
  div.contact,
  div.contact a {
    font-size: 1.4rem;
    line-height: 20px;
  }
  div.contact .tit {
    width: 120px;
  }
  div.contact span {
    padding-top: 5px;
    font-size: 1rem;
    line-height: 14px;
  }
}

/*  PC : width:951px ~  */
@media (min-width: 951px) {
  div.contact {
    width: 715px;
    padding: 36px 0 36px 295px;
    text-align: center;
  }
  div.contact:before {
    position: absolute;
    left: 295px;
    top: 25px;
    width: 2px;
    height: calc(100% - 50px);
    content: "";
    background-color: #ababab;
  }
  div.contact,
  div.contact a {
    font-size: 3.3rem;
    line-height: 35px;
  }
  div.contact .tit {
    width: 295px;
  }
  div.contact span {
    padding-top: 11px;
    font-size: 2.2rem;
    line-height: 24px;
  }
}
