/* 기본 폰트컬러 */
html.renew.newbuild body {color: #000;}

/* 달력 색상 변경 */
.newbuild input[type='date']:after, .renew input[type='month']:after, .renew .form-list dd input[type="date"]:after, .renew .form-list dd input[type="month"]:after {
    background: url('../../../images3/ico/icon_calendar.png') 50% 50% no-repeat;
    background-size: contain;
    width: 15px; margin-top: 0.5px;
}

/* footer */
.newbuild .mn-ftrWrap {background-color: #F0F0F0;}
.newbuild .mn-ftr {margin-top: 75px; color: #555555;font-size: 10px;padding: 18.5px;text-align: center;}


/* subpage footer 간격조정 */
.newbuild .sub-new-bulid .mn-ftr {margin-top: 20px;}
	@media (max-width: 360px) {
		.newbuild .mn-contInner.cnt03 .slider-bnr03 li .mn-detail-date .mn-date-design::before {
	display: none;
	}
}