@charset "UTF-8";

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    src: url("Pretendard-Thin.woff2") format("woff2"),
         url("Pretendard-Thin.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 200;
    src: url("Pretendard-ExtraLight.woff2") format("woff2"),
         url("Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 300;
    src: url("Pretendard-Light.woff2") format("woff2"),
         url("Pretendard-Light.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("Pretendard-Regular.woff2") format("woff2"),
         url("Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: url("Pretendard-Medium.woff2") format("woff2"),
         url("Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("Pretendard-SemiBold.woff2") format("woff2"),
         url("Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("Pretendard-Bold.woff2") format("woff2"),
         url("Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    src: url("Pretendard-ExtraBold.woff2") format("woff2"),
         url("Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    src: url("Pretendard-Black.woff2") format("woff2"),
         url("Pretendard-Black.woff") format("woff");
}
@font-face {
  font-family: 'NotoSans_Bold';
  font-style: normal;
  font-weight: normal;
  src: url('NotoSansKR-Bold.otf') format('opentype')
  	  ,url('NotoSansKR-Bold.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans_Light';
  font-style: normal;
  font-weight: normal;
  src: url('NotoSansKR-Light.otf') format('opentype')
  	  ,url('NotoSansKR-Light.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans_Medium';
  font-style: normal;
  font-weight: normal;
  src: url('NotoSansKR-Medium.otf') format('opentype')
  	  ,url('NotoSansKR-Medium.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans_Regular';
  font-style: normal;
  font-weight: normal;
  src: url('NotoSansKR-Regular.otf') format('opentype')
  	  ,url('NotoSansKR-Regular.woff') format('woff');
}

@font-face {
	font-family:"KTB";
	font-weight:bold;
	src:local("KTB"),
			url("KTB.woff2") format('woff2'),
			url("KTB.woff") format('woff'),
			url("KTB.eot?#iefix") format('embedded-opentype');
}

@font-face {
	font-family:"KTL";
	font-style:normal;
	src:local("KTL"),
			url("KTL.woff2") format('woff2'),
			url("KTL.woff") format('woff'),
			url("KTL.eot?#iefix") format('embedded-opentype');
}

/*
@font-face {
  font-family: 'NotoSans_';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/NotoSansCJKkr-DemiLight.otf') format('opentype'),
}
@font-face {
  font-family: 'NotoSans_';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/NotoSansCJKkr-Black.otf') format('opentype'),
}
@font-face {
  font-family: 'NotoSans_';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/NotoSansCJKkr-Thin.otf') format('opentype'),
}
@font-face {
  font-family: 'NotoSans_';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/NotoSansMonoCJKkr-Bold.otf') format('opentype'),
}
@font-face {
  font-family: 'NotoSans_';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/NotoSansMonoCJKkr-Regular.otf') format('opentype'),
}
*/